<section id="menu" class="menu">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Menu</h2>
        <p>Check Our <span>Yummy Menu</span></p>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" role="tablist">

        <li class="nav-item" role="presentation">
          <a class="nav-link show active" data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="true" role="tab">
            <h4>Starters</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast" aria-selected="false" role="tab" tabindex="-1">
            <h4>Breakfast</h4>
          </a><!-- End tab nav item -->

        </li><li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch" aria-selected="false" role="tab" tabindex="-1">
            <h4>Lunch</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner" aria-selected="false" role="tab" tabindex="-1">
            <h4>Dinner</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"  *ngIf="restaurant">

        <div class="tab-pane fade active show" id="menu-starters" role="tabpanel">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Starters</h3>
          </div>

          <div class="row gy-5">

              
            <div class="col-lg-4 menu-item" *ngFor="let rec   of restaurant.recipes">
                <a href="{{rec.imagePath}}" class="glightbox"><img src="{{rec.imagePath}}" class="menu-img img-fluid" alt=""></a>
                <h4>{{rec.name}}</h4>
                <p class="ingredients">
                  {{rec.description}}
                </p>
                <p class="price">
                  {{rec.price}}.dt
                </p>
              </div><!-- Menu Item -->
  
            

          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast" role="tabpanel">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Breakfast</h3>
          </div>

          <div class="row gy-5">

            
            <div class="col-lg-4 menu-item" *ngFor="let rec   of restaurant.recipes">
              <a href="{{rec.imagePath}}" class="glightbox"><img src="{{rec.imagePath}}" class="menu-img img-fluid" alt=""></a>
              <h4>{{rec.name}}</h4>
              <p class="ingredients">
                {{rec.description}}
              </p>
              <p class="price">
                {{rec.price}}
              </p>
            </div><!-- Menu Item -->

            

          </div>
        </div><!-- End Breakfast Menu Content -->

        <div class="tab-pane fade" id="menu-lunch" role="tabpanel">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Lunch</h3>
          </div>

          <div class="row gy-5">

            

                 
            <div class="col-lg-4 menu-item" *ngFor="let rec   of restaurant.recipes">
                <a href="{{rec.imagePath}}" class="glightbox"><img src="{{rec.imagePath}}" class="menu-img img-fluid" alt=""></a>
                <h4>{{rec.name}}</h4>
                <p class="ingredients">
                  {{rec.description}}
                </p>
                <p class="price">
                  {{rec.price}}
                </p>
              </div><!-- Menu Item -->
  
          </div>
        </div><!-- End Lunch Menu Content -->

        <div class="tab-pane fade" id="menu-dinner" role="tabpanel">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Dinner</h3>
          </div>

          <div class="row gy-5">

            

                 
            <div class="col-lg-4 menu-item" *ngFor="let rec   of restaurant.recipes">
                <a href="{{rec.imagePath}}" class="glightbox"><img src="{{rec.imagePath}}" class="menu-img img-fluid" alt=""></a>
                <h4>{{rec.name}}</h4>
                <p class="ingredients">
                  {{rec.description}}
                </p>
                <p class="price">
                  {{rec.price}}
                </p>
              </div><!-- Menu Item -->
  

          </div>
        </div><!-- End Dinner Menu Content -->

      </div>

    </div>
  </section>